<div class="flex items-center justify-between gap-3 p-4 border-b">
    <!-- Left: image + details -->
    <div class="flex items-center gap-3 min-w-0">
      <img
        :src="image(item, 200)"
        :alt="item.title"
        width="200"
        height="200"
        class="w-16 h-16 object-cover border"
        loading="lazy"
      >
      <div class="min-w-0">
        <p class="font-medium truncate" x-text="item.product_title"></p>
        <p class="text-sm text-gray-500 truncate" x-text="item.variant_title"></p>
        <button
          type="button"
          class="text-xs text-gray-500 hover:text-black mt-2"
          @click="remove(item)"
        >
          {{ 'sections.cart.remove' | t }}
        </button>
      </div>
    </div>
  
    <!-- Right: qty + price -->
    <div class="flex items-center gap-3 shrink-0">
      <input
        type="number"
        min="0"
        :value="item.quantity"
        @change="update(item, $event.target.value)"
        class="w-16 border rounded text-center"
      >
      <span class="font-medium" x-text="money(item.final_line_price)"></span>
    </div>
  </div>
  