<div class="homepage bg-red-500 text-white p-6">
  <img src="{{ 'weeklyhow-logo.png' | asset_img_url: 'large' }}" class="logo">
  <h1 class="text-3xl font-bold">Welcome to Shopify Theme Development course!</h1>
  <p>{% render 'homepage-text' %}</p>
</div>
